@{
    ViewData["Title"] = "Home Page";
}
<body class="homePage">
    <div class="a">
        @*<img src="~/images/1200px-RedSoxPrimary_HangingSocks.svg.png" style="width: 600px; height: 600px;" alt="move" class="move"/>*@
        <img src="~/images/logo-removebg-preview (4).png" alt="move" class="move" />
    </div>
</body>

@section Scripts
{
    <script src="~/js/imageAnimate.js"></script>
}